[2020-08-15 14:51] oOBoomberOo opened #1 "Colorful Cauldron"
About:
This datapack re-implement bedrock's cauldron behavior into java minecraft.

Project Page: https://www.planetminecraft.com/data-pack/colorful-cauldron-1-14/

[2020-08-15 14:52] oOBoomberOo commented on #1
bump

[2020-08-15 14:54] oOBoomberOo opened #2 "Test"

[2020-08-15 14:54] oOBoomberOo commented on #2
Hmm

[2020-08-15 14:55] #2 closed

[2020-08-15 15:03] oOBoomberOo opened #3 "Dummy Datapack"
Project Page: <url>

[2020-08-15 15:06] oOBoomberOo opened #4 "Carpet on Stairs"
Project Page: https://www.planetminecraft.com/data-pack/carpet-on-stairs-1-13-1-14/

[2020-08-15 15:06] #4 closed

[2020-08-15 15:07] oOBoomberOo opened #5 "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
YAGOO best girl

[2020-08-15 15:07] #5 closed

[2020-08-17 20:22] kanokarob opened #6 "Certification Review Request for New in Town by kanokarob"
Project Page: https://www.planetminecraft.com/data-pack/new-in-town-a-settler-s-experience-data-pack/

[2020-08-18 22:23] EstEarth202 commented on #6
New in Town by @kanokarob

- [Certified Compatibility :x: ]
- [Stamp of Quality :two_hearts: ]

### Namespace

### Global ignore
**kill**

[code]

**pos**

### Some problems found

[2020-08-18 23:44] kanokarob commented on #6
Changelog for consideration:

Namespace has been utilized for the following tags
```id_match, invasionAppear, kingdomInvader, eastSite, westSite, northSite, southSite```
(target was never used and existed solely in a reference file that was never called. File `nitk:debug/uuid_test` has been removed for clarity)

!global.ignore.kill added to the following
[code]
!global.ignore + pos added to the fo

[2020-08-19 00:33] EstEarth202 commented on #6
New in Town by @kanokarob

- [Stamp of Quality :two_hearts: ]

[2020-08-19 00:34] EstEarth202 commented on #6
New in Town by @kanokarob

- [Stamp of Quality :two_hearts: ]

[2020-08-19 00:34] #6 closed, assigned to EstEarth202

[2020-08-27 15:53] TheWii opened #7 "Certification Review Request for Seasonal Calendar by TheWii"
Project: https://github.com/TheWii/seasonal-calendar/tree/updated-conventions

[2020-08-27 18:24] EstEarth202 commented on #7
Seasonal Calendar by @TheWii

- [Certified Compatibility :x: ]
- [Stamp of Quality :x: ]

### Namespace
You use "load" pack for run load, shouldn't do that. You should do it like a tick file.
`#minecraft:load -> thewii:calendar/core/load`

### Additional
If you want stamp, there must not be any messages install on the reload.
For settings and other information, users can type `/trigger` themselves

[2020-08-27 18:33] oOBoomberOo commented on #7
[Re-worded]
Seasonal Calendar by @TheWii
- Certified Compatibility ❌
- Stamp of Quality ❌

This datapack embedded the [LanternMC/load](https://github.com/LanternMC/Load) library which uses the scoreboard `load` that doesn't follow any namespacing scheme, this still counts as violating namespace convention even if it's from a library datapack.

Additionally, If you want a "Stamp of Quality" you mus

[2020-08-27 20:46] TheWii commented on #7
#### Namespace

Regarding [LanternMC/load](https://github.com/LanternMC/Load) conflict problems: I moved the library directory **load:** to **thewii:load/** and renamed the scoreboard objective from **load** to **thewii.load**.

#### Additional

Removed all the messages when reloading the world to follow the Style Guideline.

[2020-08-28 16:09] EstEarth202 commented on #7
Seasonal Calendar by @TheWii

- [Stamp of Quality :two_hearts: ]

[2020-08-28 16:09] #7 closed, assigned to EstEarth202

[2020-08-30 01:59] CreeperMagnet opened #8 "Review Request: The Creeper's Code V0.3.2"
[Project link](https://thecreeperscode.com/download)

Changelog
There's been a ton of changes since the last certification, the main thing being reduction of @e (yay, less checking for you) and the removal of global.ignore from all the needed player selectors. Also, added a couple features.

Honestly, I'd recommend just re-checking it all, due to the major changes in convention over the past few w

[2020-09-02 11:36] oOBoomberOo opened #9 "Potion Launcher"
Project Page: https://github.com/oOBoomberOo/potion-launcher/releases

[2020-09-02 17:05] EstEarth202 commented on #9
Potion Launcer by @oOBoomberOo

- Certified Compatibility:heavy_check_mark:
- Datapack reviewer @EstEarth202 approved. :thumbsup:

### Additional  (It does not affect the review, you can skip this.)

- [ ] Should also write about how to uninstall for the user

**I can see that it is a bag, it should be a storage. Or whichever you use new traits for your own use.**
- [ ] Potion Bug's ctc, I think i

[2020-09-02 17:05] #9 closed, assigned to EstEarth202

[2020-09-05 20:30] kanokarob opened #10 "New in Town Re-Certification for Quality-Datapacker Role"
Project Page: https://www.planetminecraft.com/data-pack/new-in-town-a-settler-s-experience-data-pack/

[2020-09-05 20:42] oOBoomberOo commented on #10
@kanokarob
You also need to include/refer uninstallation instruction inside the project page as well besides including it in the readme.

[2020-09-05 20:45] kanokarob commented on #10
Project page updated.

[2020-09-05 20:46] oOBoomberOo commented on #10
All good to go 👍

- Certified Datapack ✔️
- Stamp of Quality ✔️

[2020-09-05 20:47] #10 closed, assigned to oOBoomberOo

[2020-09-06 08:25] Armoured-Monkey opened #11 "UHC Control v1.0.2"
Project Page: https://www.planetminecraft.com/data-pack/uhc-control/

- Added the global ignoring tag convention to all tp and title commands
- Removed the useless "at @a" in execute commands.

[2020-09-06 11:42] EstEarth202 commented on #11
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- Datapack reviewer @EstEarth#9417202 approved. :thumbsup:

Additional, I see `§` is used instead of JSON text component. You can switch to this one.

**For armouredmonkey**
[code]
**For uhccontrol**
[code]
or
[code]

[2020-09-06 11:42] #11 closed, assigned to EstEarth202

[2020-09-06 13:26] EstEarth202 commented on #8
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts: (Re-certification for Quality Datapacker role.)

[2020-09-06 13:26] #8 closed, assigned to EstEarth202

[2020-09-09 23:54] SmoochyPit opened #12 "Warp Pads v1.2.2"
Project Page: https://github.com/SmoochyPit/Warp-Pads/tree/review
(link edited to be review branch)

[2020-09-10 20:44] EstEarth202 commented on #12
@SmoochyPit
- Certified Compatibility :x:
- Stamp of Quality :x:

### Advancement

**data\global\advancements\smoochypit\warppads.json**
You can create this advancement anywhere, as long as you don't pollute `/data/global/advancements/folder`.
Usually at `data\warppad\advancements`

### Global ignore

**data\warppad\functions\warpmod.mcfunction**
All `kill @e` miss `!global.ignore` + `!global.igno

[2020-09-14 02:24] SmoochyPit commented on #12
I read through your feedback and fixed what I needed to fix. I also implemented your suggested optimizations on functions where I could. Would you mind taking a look at the updated version? https://github.com/SmoochyPit/Warp-Pads/releases/tag/v1.2.2-beta3

Thank you!

[2020-09-14 02:42] oOBoomberOo commented on #12
Mind if I suggest something? Since you're using github you can use the branching feature to make a temporary review branch so that you don't have to release a new version every time there's a review.

[2020-09-14 02:44] SmoochyPit commented on #12
Will do! ~~A bit late to do now, but in the future I will do that. Thanks for the suggestion.~~ I have done this and edited my top comment. I'm learning how git and GitHub work, and this is a much better way of doing this, so thank you.

[2020-09-16 20:17] playbabe opened #13 "BlingTreesReload"
Project Page: https://www.planetminecraft.com/data-pack/blingtrees-reload-tree-actually-falling-when-cut/
download ling: https://drive.google.com/drive/u/0/folders/1soIUdaJIWz6N0owyv4r4jGdHcbaYVXql

[2020-09-17 14:58] EstEarth202 commented on #13
@playbabe

- Certified Compatibility :x:
- Stamp of Quality :x:

### Global ignore

- [x] คำสั่ง `kill @e` ที่เหมือนกับคำสั่งตามข้างล่างนี้ไม่มี `!global.ignore` + `!global.ignore.kill` นะ ซึ่งไม่ได้มีแค่ไฟล์เดียว

[code]

### Uninstallation

- [ ] บอกวิธีถอนการติดตั้งที่หน้าเว็บ Planetminecraft ด้วยเหมือนกัน

### เพิ่มเติม

สำหรับ Fake player scoreboard ไม่จำเป็นต้องมี namespace ก็ได้ เช่น pbbs#3

[2020-09-18 15:16] playbabe commented on #13
Update แล้ว ลิ้งเดิม
แก้ไข Global ignore และ Uninstallation ที่หน้าเว็บ Planetminecraft
* Fake player scoreboard namespace ตั้งไว้เท่ดี ถถถถถ
** \u0020 ใช้ unicode กันงง

[2020-09-18 15:28] EstEarth202 commented on #13
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- Datapack reviewer @EstEarth202. :thumbsup:

[2020-09-18 15:28] #13 closed, assigned to EstEarth202

[2020-09-19 02:01] kgscialdone opened #14 "Kat's Lightsabers"
Project Page: https://www.planetminecraft.com/data-pack/kat-s-lightsabers/

[2020-09-19 06:57] oOBoomberOo commented on #12
@EstEarth202 you still working on this?

[2020-09-19 07:44] EstEarth202 commented on #12
@oOBoomberOo  Yes, I'm teaching him step-by-step in DM because he's new and wants to learn.

[2020-09-20 22:49] EstEarth202 commented on #12
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And LMAO Datapack reviewer @EstEarth202. :thumbsup:
You are the first person I can fully teach. And be the first to get LMAO from me.

[2020-09-20 22:49] #12 closed, assigned to EstEarth202

[2020-09-21 12:50] ghost commented on #14
@KatrinaKitten
- Certified Compatibility ❌
- Stamp of Quality ❌

Really really good datapack. I have to say it's also really optimized. But due to distracting mistakes it can't be certified.
That's why:

### Custom Model Data ID Convention:
You missed the ID. You used 623 as id, while yours is 632. Ask Boomber, he will certain help you to change it into the one you used.

### Common Traits Convent

[2020-09-21 15:50] kgscialdone commented on #14
Thanks for reviewing this! I'll get the model data issue sorted out ASAP.

However, I'm not sure what you mean with regards to the CTC stuff. There are plenty of places I only _check_ for either ID or traits, but the only places I actually create items (other than internal stuff the user shouldn't have access to) are in loot tables, and I'm 100% sure I didn't miss either for any items in those. Co

[2020-09-21 16:32] kgscialdone commented on #14
My custom model ID has been changed in registry as appropriate =)

I've also double checked my CTC and confirmed that, as previously mentioned, I create no items that do not have both an ID and traits, except for the Saber Forge display model (which is completely inaccessible in an armor stand's head slot and as such has neither).

[2020-09-22 16:58] ghost commented on #14
Datapack Verified

- Certified Compatibility✔️
- Stamp of Quality 💕

[2020-09-22 16:58] #14 closed, assigned to nobody

[2020-09-26 17:37] Ellivers opened #15 "Sandwiches Galore"
Project Page: <https://www.planetminecraft.com/data-pack/sandwiches-galore/>

[2020-09-30 17:17] oOBoomberOo commented on #15
@Ellivers
- Certified Compatibility ❌
- Stamp of Quality ❌

## Global Ignoring Tag

There are many mistake with the global ignoring tag convention but easily fixable:
1. Missing `global.ignore` tag for `@e`
    - [ ] [sandwiches_galore:item_tick](https://github.com/Ellivers/Sandwiches-Galore/blob/e4b2798516360a5f267e95b87634a66f27a43f8c/Datapack/data/sandwiches_galore/functions/item_tick.mcfunctio

[2020-09-30 17:43] oOBoomberOo commented on #15
@Ellivers
- Certified Compatibility ❌
- Stamp of Quality ❌

## Global Ignoring Tag

There are many mistakes with the global ignoring tag convention but easily fixable:
1. Missing `global.ignore` tag for `@e`
    - [ ] [sandwiches_galore:item_tick](https://github.com/Ellivers/Sandwiches-Galore/blob/e4b2798516360a5f267e95b87634a66f27a43f8c/Datapack/data/sandwiches_galore/functions/item_tick.mcfuncti

[2020-10-03 20:11] TheWii opened #16 "Improved Apiculture v0.1.0"
Project Page: https://github.com/TheWii/improved-apiculture/releases/v0.1.0

[2020-10-05 19:19] eatYourHashs opened #17 "mcEXP Reborn (re-cert for SoQ)"
Project Page: https://www.planetminecraft.com/data-pack/mcexp-reborn-rpg-progression-rebirthed/
This is a re-submission for the Stamp of Quality. The only changes are additional skills added over the past few updates (which I doubt would cause issues) and the changes made to receive the Stamp of Quality.

[2020-10-07 18:48] ghost commented on #16
Certified Compatibility ❌
Stamp of Quality ❌
Great and creative ✔️

Here's the review:

❌= didn't follow  ✔️= followed
Tier 3 Conventions:

- ✔️Custom Model ID
- ❌Global Ignoring Tag
 _improved-apiculture-datapack-v0-1-0\data\thewii\functions\apiculture\player\placed\dispenser\grid\_z.mcfunction_
 `unless entity @e[type=#thewii:apiculture/custom_block,limit=1,distance=..0.5]`
 This selector includ

[2020-10-07 19:12] TheWii commented on #16
### Tier 3 Conventions:

improved-apiculture-datapack-v0-1-0\data\thewii\functions\apiculture\player\placed\dispenser\grid_z.mcfunction
unless entity @e[type=#thewii:apiculture/custom_block,limit=1,distance=..0.5]
This selector includes all the entities of certain types, also if they have the global.ignore tag.
improved-apiculture-datapack-v0-1-0\data\thewii\functions\apiculture\player\placed\disp

[2020-10-07 20:16] ghost commented on #16
Yes, it makes sense.

Certified Compatibility ✔️
Stamp of Quality ✔️
Great and creative ✔️

[2020-10-07 20:16] #16 closed, assigned to nobody

[2020-10-09 05:14] rx-dev opened #18 "EnderChest+"
Project Page: https://github.com/RitikShah/EnderChestPlus/releases/

Expandable EnderChest. Requires a lib PlayerDB. It should be mostly fine, not sure where it would fail.
I hope I don't need any other info here?

[2020-10-09 10:41] EstEarth202 commented on #17
@eatYourHashs

- Certified Compatibility ❌(Roll-back Review)
- Stamp of Quality ✅

## Global Ignoring Tag

There are many mistakes with the global ignoring tag convention but easily fixable:

1. `global.ignore` tag in player selector is not allowed & `tellraw` not required  `global.ignore & gui`

      - [x] mcfunction in `mcexp2\functions\levelup` folder.
      - [x] mcfunction in `mcexp2\functio

[2020-10-09 12:08] EstEarth202 commented on #18
@RitikShah

- Certified Compatibility ✅
- Stamp of Quality ✅

# Everything is fine and ok.
# Status: Waiting for review MC-PlayerDB
## But there are some things I think you should do.

- [ ] remove unuse `rx` folder.
- [ ] Request review pack MC-PlayerDB too.
 ### Note
**_In order to complete the certification_**, because your pack needs to use some `function` and `yellow_shulker_box loot_table` f

[2020-10-10 00:16] rx-dev commented on #18
I have an unused function `rx:random`, but I do need the rx folder for the item tag, `rx:all`. I plan to use `rx` namespace for all my datapacks and somethings are generic so they will often land in the same spot.

[2020-10-10 00:17] rx-dev commented on #18
I plan on using Lantern Load again (uses the `load` scoreboard) which wouldn't allow you to certify my datapack, so I think it's best to close this.

[2020-10-10 00:17] #18 closed, assigned to EstEarth202

[2020-10-10 06:12] eatYourHashs commented on #17
I have fixed the issues above; the new release is uploaded to the same PMC link.

[2020-10-10 10:31] EstEarth202 commented on #17
## From again review, there were few issues.

- [x] `mcexp2\functions\player_tick` -> `kill @e[type=item,distance=..6.kill,limit=1,nbt={Item:{id:"minecraft:ancient_debris",Count:1b}}]` You use find and replace, which makes both globals deleted.

- [x] From checking the order of the command function
The `title` command is required. `!global.ignore.gui` but easily fixable by putting it at `execute a

[2020-10-10 22:28] bongbongsaysbong opened #19 "Minecon Mobs"
Project Page: https://www.planetminecraft.com/data-pack/minecon-minecraft-earth-mobs/

[2020-10-11 00:09] eatYourHashs commented on #17
I have fixed the above; the new release is once again uploaded to the same PMC link.

[2020-10-11 10:47] EstEarth202 commented on #17
- Certified Compatibility :heavy_check_mark:
- Stamp of Quality :heavy_check_mark:
- No Final Comment

[2020-10-11 10:47] #17 closed, assigned to EstEarth202

[2020-10-11 17:15] EstEarth202 commented on #19
@HingeDH

- Certified Compatibility ❌

## Global Ignoring Tag

### kill (`!global.ignore` & `!global.ignore.kill` missing)

- [ ] mcmobs\functions\mobs\hunger\eat

### pos (`!global.ignore.pos` missing)

- [ ] mcmobs\functions\tick_installed -> `execute as @e[type=squid,tag=!mcmobs.found,tag=!global.ignore] at @s run function mcmobs:mobs/axolotl/spawning`

### `!global.ignore` missing

- [ ] mcmob

[2020-10-17 07:05] Gnottero opened #20 "Proton Crafting Library"
Project Page: https://github.com/Gnottero/Proton

[2020-10-17 14:54] EstEarth202 commented on #20
@Gnottero

- Certified Compatibility:heavy_check_mark:
- Stamp of Quality ❌ [ If you don't want it, tell me. ]
- Final comment after closed verified.

# Advice

- [ ] For Stamp of Quality, all you have to do is tell users how to uninstall at the github page or publish it to planetminecraft. Then tell to users at the description.

- [ ]  `gnottero\functions\proton\events\block\world\has_placed` You

[2020-10-18 01:48] chromakey81 opened #21 "Ding Dong"
Project Page: https://github.com/ChromaKey81/ding-dong

[2020-10-18 03:12] chromakey81 commented on #21
download page: [https://www.planetminecraft.com/data-pack/ding-dong-4801059/](https://www.planetminecraft.com/data-pack/ding-dong-4801059/)

[2020-10-18 16:49] chromakey81 commented on #21
Just updated the pack to follow the advancement convention

[2020-10-21 19:37] iNkoR-the-2nd opened #22 "More Mobs (Snapshot 4A)"
[UPCOMING RELEASE] Project Page: https://www.planetminecraft.com/data-pack/more-mobs-snapshot-3c/
Whoever is assigned, I want to send them the archive via Discord DMs

[2020-10-24 13:40] ghost commented on #21
Sorry, your datapack can't be certified.
❌Compatibility Verification
❌Stamp of Quality

# Global Ignoring Tag:
### advancement.mcfunction
in `unless entity @e` you should put tag=!global.ignore in the selector
in `title @s actionbar` you should put tag=!global.ignore.gui in the selector
###

# Datapack Advancement:
You shouldn't put the datapack advancement in the global folder.
Citing the Convent

[2020-10-24 16:10] chromakey81 commented on #21
The advancement is in the right spot? It is under global/advancements/chromakey. The file under global/advancements is the root for all datapacks, which every datapack is supposed to have.

I have just updated the code to include global.ignore requirements you pointed out.

(The block tag under minecraft namespace is not custom btw, it is used in vanilla, which is why it needed to be in the minecr

[2020-10-27 14:03] ghost commented on #21
-The root advancement MUST BE in global/advancements.
-The creator advancement can be everywhere but with the creator namespace and always in the same directory for all your datapacks.
-The datapack advancements can be everywhere BUT NOT IN THE GLOBAL/ADVANCEMENTS folder or paths from there.

That's the fact.
Also, you don't need to put the entity tags in the minecraft datafolder if they already e

[2020-10-27 14:25] chromakey81 commented on #21
That is exactly what I did. [Global root](https://github.com/ChromaKey81/ding-dong/blob/master/data/global/advancements/root.json) is under global/advancements, [creator](https://github.com/ChromaKey81/ding-dong/blob/master/data/global/advancements/chromakey/root.json) and [datapack](https://github.com/ChromaKey81/ding-dong/blob/master/data/global/advancements/chromakey/ding_dong.json) advancement

[2020-10-27 18:07] ghost commented on #21
that's not exactly what you did. Root and creator are in the right directory. Datapack is not(it is under global/advancements/folder).

Citing again the datapack advancement convention:

You are modifying a default minecraft data when you can avoid to do it creating your own tag in your own datafolder. Do it or just use the minecraft default data. This is not a convention, but it is useful for com

[2020-10-27 19:11] chromakey81 commented on #21
the convention states:

not

as you seem to think.

and yes, I need to add that entity tag under the minecraft namespace. Again, the #minecraft:raiders tag is used internally by the game, and I need to hook into it to extend that functionality

[2020-10-30 09:20] ghost commented on #21
I talked to EstEarth also, and we both agree the datapack advancement should not be in /data/global/advancement/chromakey, cause it is part of global/advancements. But pratically, this is not a problem for the compatibility.

I shouldn't say that, but
✔️Certified Compatibility(but please don't modify minecraft tags and create your own, also if similar)
✔️Stamp of Quality

You can now use both bann

[2020-10-30 09:20] #21 closed, assigned to nobody

[2020-10-30 12:45] chromakey81 commented on #21
Oh, now I think I see what you were saying: anything other than global:root should be under a different namespace. That makes sense.

Keep in mind there are other certified packs doing the same thing though.
I would recommend stating that explicitly in the conventions page if it is a factor considered for review.

[2020-11-01 21:41] ghost commented on #22
❌Certified Datapack
❌Stamp of Quality
Here where you didn't follow conventions.
# Tier 3 Conventions (You need to follow them to get certified datapack banner)
### Global Ignoring Tag Convention:
Convention changed, maybe not in the right way, but they changed.
You don't need anymore to use tag=!global.ignore in @a selectors.
You also don't need to use tag=!global.ignore.gui for /tellraw, /playsou

[2020-11-07 10:05] ghost commented on #22
Still waiting for your reply in here

[2020-11-12 22:44] ghost opened #23 "Fireworks+ Datapack"
Project Page: https://www.planetminecraft.com/data-pack/fireworks-more-types-of-fireworks/

[2020-11-13 16:59] EstEarth202 commented on #23
@UltroGhast

- Certified Compatibility ✔️
- Stamp of Quality ❌ [ If you don't want it, tell me. ]
- Final comment after closed verified.

### Datapack Uninstallation missing

[2020-11-14 11:18] ghost commented on #23
Uninstall function isn't needed, since all the scoreboards used in that datapack are scoreboards I use in most of my datapacks

[2020-11-14 12:15] EstEarth202 commented on #23
@UltroGhast

- Certified Compatibility ✔️
- Stamp of Quality 💕
- Good pack :thumbsup:

### Do not forget to tell to the user why.

[2020-11-14 12:15] #23 closed, assigned to EstEarth202

[2020-11-17 15:51] ghost opened #24 "UHC Data Pack"
Project Page: https://www.planetminecraft.com/data-pack/ultra-hardcore-solos-datapack/

[2020-11-17 15:53] ghost commented on #24
Any issues please to get in contact with me. If I don't respond on here I can easily be reached on Discord my username is Rover#1282

[2020-11-19 15:45] mainrs opened #25 "Rotation Wrench"
Project Page: https://github.com/vanilla-friendly-datapacks/rotation-wrench

[2020-11-20 14:09] mainrs opened #26 "Phantoms are weak against spectral"
Project Page: https://github.com/vanilla-friendly-datapacks/phantoms-are-weak-to-spectral

Literally only one advancement and a trigger function, would be surprised if something isn't in order. Now I jinxed it though...

[2020-11-20 14:12] iNkoR-the-2nd commented on #22
I sent the new file over Discord.

[2020-11-20 20:00] mainrs opened #27 "Beehive / Bee nest tooltips"
Project Page: https://github.com/vanilla-friendly-datapacks/beehive-tooltips

[2020-11-21 13:46] EstEarth202 commented on #25
@SirWindfield

- Certified Compatibility ❌
- Stamp of Quality ❌
- Final comment after closed verified.

## Certified Compatibility part

### Namespace Convention

`zerotask\functions\rotation_wrench\private\raycast\start_ray.mcfunction` tag `raycasting_wrench` doesn't follow.

## Stamp of Quality part
If you just want Certified Compatibility You can skip this part.

### Datapack Uninstallation mis

[2020-11-21 14:14] EstEarth202 commented on #26
@SirWindfield

- Certified Compatibility ❌
- Stamp of Quality ❌
- Final comment after closed verified.

## Certified Compatibility part

### Global Ignoring tag

`zerotask\functions\phantoms_are_weak_to_spectral\private\kill_phantom.mcfunction` -> `tag=!global.ignore,tag=!global.ignore.kill` missing

## Stamp of Quality part
If you just want Certified Compatibility You can skip this part.

### Dat

[2020-11-21 14:23] mainrs commented on #26
I've pushed a new commit to the repository that should fix the issues mentioned here :) Thanks for the review.

[2020-11-21 14:27] EstEarth202 commented on #27
@SirWindfield

- Certified Compatibility ❌
- Stamp of Quality ❌
- Final comment after closed verified.

## Certified Compatibility part

### Global Ignoring tag

`zerotask\functions\beehive_tooltips\tick.mcfunction` `tag=!global.ignore` missing

## Stamp of Quality part
If you just want Certified Compatibility You can skip this part.

### Datapack Uninstallation missing

[2020-11-21 14:38] mainrs commented on #27
Problems have been fixed by pushing a new commit to the repo. Thanks for taking your time to review the pack!

[2020-11-21 14:49] mainrs commented on #25
Updating the repository to include the changes you suggested under the certified compatibility part and the stamp of quality part.

[2020-11-22 14:56] EstEarth202 commented on #25
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And LOL Datapack reviewer @EstEarth202. :thumbsup:

[2020-11-22 14:56] #25 closed, assigned to EstEarth202

[2020-11-22 14:56] EstEarth202 commented on #26
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And LMAO Datapack reviewer @EstEarth202. :thumbsup:

[2020-11-22 14:56] #26 closed, assigned to EstEarth202

[2020-11-22 14:56] EstEarth202 commented on #27
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And LMAO Datapack reviewer @EstEarth202. :thumbsup:

[2020-11-22 14:56] #27 closed, assigned to EstEarth202

[2020-11-24 10:42] mainrs opened #28 "Respawn anchors keep charges"
Project Page: https://github.com/vanilla-friendly-datapacks/respawn-anchors-keep-charges

[2020-11-28 19:45] oOBoomberOo opened #29 "Pocket Shulker"
Project Page: https://www.planetminecraft.com/data-pack/pocket-shulker/

[2020-11-29 12:02] ghost commented on #22
## More Mobs (Snapshot 4A)
✔️Certified Datapack
❌Stamp of Quality

You can now place [this banner](https://i.imgur.com/4Z0ioH5.png) on descriptions, sites and wikies about the datapack.

You followed all Tier 3 Conventions.
But you didn't follow, instead, Uninstall and Common Traits Conventions (I said it last time and you didn't change anything, so I suppose you don't want to apply it, and it's n

[2020-11-29 12:02] #22 closed, assigned to nobody

[2020-11-29 18:04] EstEarth202 commented on #28
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And LMAO Datapack reviewer @EstEarth202. :thumbsup:

[2020-11-29 18:04] #28 closed, assigned to EstEarth202

[2020-11-30 09:36] EstEarth202 commented on #29
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- ### And **Great pack, This is one of the best sample packs to guideline about file directories structure, optimization & namespace. LMAO Datapack reviewer @EstEarth202. :thumbsup: **

[2020-11-30 09:36] #29 closed, assigned to EstEarth202

[2020-11-30 09:38] oOBoomberOo commented on #29
Thank you for the review!

[2020-12-02 10:14] mainrs opened #30 "Beacon Shulker"
Project Page: https://github.com/vanilla-friendly-datapacks/beacon-shulker

[2020-12-03 13:45] ghost commented on #30
**Beacon Shulker** by SirWindfield
✔️Certified Datapack
✔️Stamp of Quality

✅You can now use [Certified Datapack+Stamp of Quality Banner](https://i.imgur.com/ltLPoQp.png) in the datapack description/wiki/download page etc.

Nice datapack. Also, since it doesn't use any @e or @a , it is really optimized and easy to review.

Only one thing about compatibility: it would be better using zt.bsc scorebo

[2020-12-03 13:45] #30 closed, assigned to oOBoomberOo

[2020-12-03 13:59] mainrs commented on #30
True, I will add it to the list of stuff I need to change :3 ty for the review

[2020-12-04 16:48] mainrs opened #31 "Brewing stands keeps fuel"
Project Page: https://github.com/vanilla-friendly-datapacks/brewing-stand-keeps-fuel

[2020-12-05 10:28] ghost commented on #24
Hi Rover! Sorry for the long wait, but here we are. I saw the commitment for the datapack.
**❌Certified Datapack
❌Stamp of Quality**
Don't worry, the stamp of quality doesn't mean what it should. It's just a thing about some useless but nice conventions you can choose to follow.

If you want your datapack certified, you need to follow all Tier 3 Conventions.
If you want the Stamp of Quality, you n

[2020-12-05 13:00] ghost commented on #24
Thanks for the feedback. I'll look into your suggestions and see what I can do. Will add another comment on this page when I've released the update.

[2020-12-11 21:08] RavioliFormuoli opened #32 "Death Glow"
Project Page: https://www.planetminecraft.com/data-pack/death-glow/

[2020-12-12 11:16] EstEarth202 commented on #32
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- No Final Comment

[2020-12-12 11:16] #32 closed, assigned to EstEarth202

[2020-12-13 07:59] Ruth3rford opened #33 "Living Nautilus(es)"
Project Page:
https://www.planetminecraft.com/data-pack/living-nautilus-es/

https://github.com/DividedByDankMemes/living-nautilus

[2020-12-13 16:13] ghost commented on #31
**Brewing stands keeps fuel** by SirWindfield
✔️Certified Datapack
✔️Stamp of Quality

✅You can now use Certified Datapack+Stamp of Quality Banner in the datapack description/wiki/download page etc.

-I suggest you to check the limit=1 in the only @e selector inside tick.mcfunction and test if it works also if more than one brewing stands are dropped in different places. I'm not sure it will work,

[2020-12-13 16:13] #31 closed, assigned to nobody

[2020-12-13 16:18] Ellivers commented on #15
I'll close this for now. Will probably fix the convention issues when I update it one day.

[2020-12-13 16:18] #15 closed, assigned to oOBoomberOo

[2020-12-18 13:21] mainrs opened #34 "Plated Elytra"
Project Page: https://github.com/vanilla-friendly-datapacks/plated-elytra

[2020-12-18 15:43] Armoured-Monkey opened #35 "Death Control"
Project Page: https://www.planetminecraft.com/data-pack/death-control/

[2020-12-19 15:14] mainrs commented on #34
Sorry, I changed quite a bit yesterday! I hope you didn't start reviewing it already :( I moved to loot tables actually instead of `data modify`, so it should be easier to review haha @UltroGhast

[2020-12-28 17:21] Gnottero opened #36 "Homes Enhanced - Just Another Homes Datapack"
Project Page: https://www.planetminecraft.com/data-pack/homes-enhanced-just-another-homes-datapack/

[2020-12-31 08:20] EstEarth202 commented on #36
- Certified Compatibility ❌
- Stamp of Quality 💕

### Common Trait Convention ☑️
### Custom Model ID ☑️
### Global ignoring tag ❌

### Global Durability ☑️
### Namespace Convention ✔️
### Shulker Box Loot Table ☑️
### Datapack Advancement ✔️
### Datapack Uninstallation ✔️
### Reloading Message ✔️

### Tecnical advice

**Did you know**: `fake_player` doesn't need to use namespace because it is alre

[2020-12-31 12:07] Gnottero commented on #36
Okay, I should have that fixed. Could you please check it out?
You can also find the datapack on github at this link:
https://github.com/Gnottero/Homes-Enhanced

[2020-12-31 14:39] EstEarth202 commented on #36
- Certified Compatibility:heavy_check_mark:
- Stamp of Quality :two_hearts:
- And Good pack, LOL Datapack reviewer @EstEarth202. :thumbsup:

[2020-12-31 14:39] #36 closed, assigned to EstEarth202

[2021-01-05 22:09] asdru22 opened #37 "Player Head Dragon"
Project Page: <https://www.planetminecraft.com/data-pack/player-head-dragon/>

its not a big datapack but I'm interested in seeing if everything has been fully optimized

[2021-01-06 11:44] ghost commented on #33
❌Certified Datapack
❌Stamp of Quality
Anyway, nice datapack.

### Global Ignoring Tag Convention
**_nautilus-e3550\data\n\functions\main\spawn_cycle.mcfunction_**
`execute at @a if predicate n:random as @e[type=#n:spawners,distance=16..64,limit=2,sort=furthest,tag=!nautilus.banned] at @s if predicate n:ocean unless data entity @s CustomName run function n:main/spawn_cycle/nautilus_tag`
When you ar

[2021-01-06 11:55] ghost commented on #34
❌Certified Datapack
❌Stamp of Quality

You need to correct these mistakes:
### Global Ignoring Tag Convention
_**plated-elytra/data/zerotask/functions/plated_elytra/private/check_crafting.mcfunction**_
`execute as @e[type=minecraft:item,nbt={Item: {id: "minecraft:elytra"}},nbt=!{Item: {tag: {zerotask: {PlatedElytra: 1b}}}}] at @s if entity @e[type=minecraft:item,nbt={Item: {id: "minecraft:slime_ba

[2021-01-06 12:17] ghost commented on #37
❌Certified Datapack
❌Stamp of Quality

**data\dragon\functions\summon.mcfunction**
kill @e[type=item,distance=0] -> kill @e[type=item,tag=!global.ignore,tag=!global.ignore.kill,distance=0]
Who knows, coincidences are possible. Or someone could make a datapack that attaches items to some entities, and it could work also for your small bat.
**CustomModelData:1005?** I suggest you to read the Custom

[2021-01-06 12:23] ghost commented on #35
✔️Certified Datapack
❌Stamp of Quality

**global\advancements\deathcontrol.json** should be somewhere else.

It's hard not to follow conventions with a small datapack like this. And easy to review.
Let me know if you also want the "Stamp of Quality" or if the Certified Datapack banner is enough.

[2021-01-06 13:28] Armoured-Monkey commented on #35
Thanks, I've updated it and made that change.

[2021-01-07 09:21] ghost commented on #35
✔️Certified Datapack
✔️"Stamp of Quality"

You can now use [THIS BANNER](https://i.imgur.com/ltLPoQp.png) in the datapack description, wiki, download pages.

[2021-01-07 09:21] #35 closed, assigned to nobody

[2021-01-07 09:59] asdru22 commented on #37
Ok i think i fixed everything, even added the advancements

[2021-01-07 11:37] ghost commented on #37
✔️Certified Datapack
✔️Stamp of Quality

Totally useless, but really nice. I like it (I know you know)
You can now use this banner on datapack description/download page/wiki:
https://i.imgur.com/ltLPoQp.png

[2021-01-07 11:37] #37 closed, assigned to nobody

[2021-01-07 11:58] AidenGyory opened #38 "Review for Asphodel Meadows v2.1"
Project Page: https://www.planetminecraft.com/data-pack/asphodel-meadows-v2-0-custom-dimension-for-1-16/

[2021-01-09 09:41] ghost commented on #38
❌Certified Datapack
❌Stamp of Quality
(If the stamp of quality indicated quality, I would have given it to you with my eyes closed.)
Really nice Datapack, hope you will fix the compatibility problems.
# Need to follow Tier 3 Conventions if you want the Compatibility Certification.
### Global Ignoring Tag Convention
_asphodel-meadows-v2-1\data\asphodel\functions\player_tick.mcfunction_
`as @e[type=

[2021-01-13 01:10] TheSaltyPug opened #39 "Better Fire"
Project Page: https://github.com/TheSaltyPug/BetterFire/releases

A really simple datapack that creates fire at the place where a fire arrow lands.

- Follows global ignoring convention
- optimized for server performance (scheduling every 5 ticks instead of running every tick)
- no uninstall function, because no scores

[2021-01-13 07:44] ghost commented on #39
✔️Certified Datapack
✔️Stamp of Quality

Suggestions:
The datapack is really small, but I think there still is something to fix. Instead of a /setblock, use /fill so you can only replace air or specific blocks like grass etc.

[2021-01-13 07:44] #39 closed, assigned to nobody

[2021-01-13 08:56] AidenGyory commented on #38
Have made all the changes recommended - Please let me know what you think!

[2021-01-13 13:32] AidenGyory opened #40 "Review for Inventory Tweaks"
Project Page: https://www.planetminecraft.com/data-pack/inventory-tweaks-auto-potions-quick-armor-loadouts-arrow-quivers-tool-swap/

[2021-01-14 20:15] TheSaltyPug opened #41 "Mob Conversion"
Project Page: https://github.com/TheSaltyPug/Mob-Conversion/releases/

Small datapack that adds conversions for:
- cow > mooshroom
- skeleton horse > zombie horse
- zombie horse > horse
- zombified piglin > piglin (does not convert back!)
- zoglin > hoglin (does not convert back!)
- witch > 'alchemist' villager (I'll probably update this guy later; right now he is kinda boring)

**Technical stuff*

[2021-01-14 20:15] TheSaltyPug opened #42 "Mob Conversion"
Project Page: https://github.com/TheSaltyPug/Mob-Conversion/releases/

Small datapack that adds conversions for:
- cow > mooshroom
- skeleton horse > zombie horse
- zombie horse > horse
- zombified piglin > piglin (does not convert back!)
- zoglin > hoglin (does not convert back!)
- witch > 'alchemist' villager (I'll probably update this guy later; right now he is kinda boring)

**Technical stuff*

[2021-01-14 20:15] TheSaltyPug commented on #41
Accidently made two. My bad!

[2021-01-14 20:16] #41 closed, assigned to nobody

[2021-01-15 04:56] AidenGyory commented on #38
Changes made! please let me know once you review again :)

[2021-01-15 15:14] Cray-On opened #43 "Review for Safe Leashes"
"Animals do not accumulate fall damage potential anymore"
Aiming to counter the bug where mob hanging from leashes accumulate "FallDistance" data.

File : [safe_leashes v1.0.1.zip](https://github.com/mc-datapacks/review-tracker/files/5824632/safe_leashes.v1.0.1.zip)

Official Project Page : https://www.planetminecraft.com/data-pack/safe-leashes/
I'm waiting for the datapack to be reviewed to updat

[2021-01-18 08:24] ghost commented on #43
### ❌Certified Datapack
**Global Ignore Tag Convention**
`execute as @e[nbt={Leash:{},OnGround:0b},tag=!sfl_Hanging] store result score @s sfl_FallDistance run data get entity @s FallDistance 1` includes entities with global.ignore tag modifying its scores then tags and nbt (considering the following commands)
Add tag=!global.ignore in the first selector

You can skip after this.

❌**Stamp of Qual

[2021-01-18 08:37] ghost commented on #38
@AidenGyory

**✔️Certified Datapack
✔️Stamp of Quality**
You can now use [this](https://i.imgur.com/ltLPoQp.png) banner within the Datapack description/wiki/page

Also, great datapack! :)
I like it.
I see you fixed everything at once, and it's very rare for big datapacks like your.

[2021-01-18 08:37] #38 closed, assigned to nobody

[2021-01-18 11:42] Cray-On commented on #43
[safe_leashes v1.0.1.zip](https://github.com/mc-datapacks/review-tracker/files/5829945/safe_leashes.v1.0.1.zip)
Fixed !

[2021-01-18 15:10] Cray-On opened #44 "Review for Nether Start"
"The world spawn is now in the Nether !"
Does pretty much what it says.

File : [nether_start v1.1.1.zip](https://github.com/mc-datapacks/review-tracker/files/5830993/nether_start.v1.1.1.zip)

Official Project Page : https://www.planetminecraft.com/data-pack/nether-start-4786403/
I'm waiting for the datapack to be reviewed to update it.

[2021-01-29 16:36] Armoured-Monkey opened #45 "Death Control v1.2.0"
Project Page: https://www.planetminecraft.com/data-pack/death-control/

I wasn't expecting to add these features so soon. So, sorry about that.

Files that have seen changes/New files:
deathcontrol/advancements/deathcontrol.json - Changed description to JSON Text Component, so shouldn't be any issues
deathcontrol/functions/config/disable_loot.mcfunction - Works in the same way as pre-existing 'dis

[2021-01-29 17:45] EstEarth202 commented on #45
- Certified Compatibility ✔
- Stamp of Quality 💕
- useful pack

### Tecnical advice

**Did you know**: `fake_player` doesn't need to use namespace because it is already inside the objective namespace. `dc.keepinv dc_config`

[2021-01-29 17:45] #45 closed, assigned to EstEarth202

[2021-01-30 09:14] ghost commented on #44
✔️Certified Datapack
✔️"Stamp of Quality"

You can now use [THIS](https://i.imgur.com/ltLPoQp.png) banner in the datapack description/wiki/page etc.

[2021-01-30 09:14] #44 closed, assigned to nobody

[2021-02-01 16:23] boon4681 opened #46 "Harvestable hoe by boon4681"
Project Page: <https://github.com/boon4681/Harvestable-hoe> (testing upload will available on "planet minecraft" later)

This hoe can harvesting crops by it self
but it have cooldown when out of valid

[2021-02-05 16:31] jh1236 opened #47 "Dragon_heads_plus"
Project Page: https://github.com/jh1236/dragon_heads_plus/tree/1.0.0

[2021-02-06 04:40] felix91gr commented on #47
@jh1236 what does it do? :0

[2021-02-10 17:21] HalbFettKaese opened #48 "Villager Leads"
Project Page: https://www.planetminecraft.com/data-pack/villager-leads/

[2021-02-13 23:22] Sipilus opened #49 "Shamanism Review"
Project Page: https://www.planetminecraft.com/data-pack/shamanism/

[2021-02-16 15:13] EstEarth202 commented on #48
- Certified Compatibility ❌
- Stamp of Quality ❌

### Common Trait Convention ☑️
### Custom Model ID ☑️
### Global ignoring tag ❌

### Global Durability ☑️
### Namespace Convention ✔️
### Shulker Box Loot Table ✔️
### Datapack Advancement ✔️
### Datapack Uninstallation ❌
### Reloading Message ✔️

### Note
✔️ = Followed
❌ = Doesn't follow
☑️ = Not required/Skip

[2021-02-17 20:47] x-2mas opened #50 "S.E.A.T Pack - Sit anywhere in Minecraft"
Project Page: [Planet Minecraft](https://www.planetminecraft.com/data-pack/s-e-a-t/)

**Notes:**
- I adapted the pack to the official guidelines given [here](https://mc-datapacks.github.io/en/index.html)
- This datapack is conceptually simple but maybe difficult to review since I tried building it around a 'framework' of my own. 😅
- Once downloaded, you should see the pack is a combination of two

[2021-02-17 20:48] HalbFettKaese commented on #48
1. Why do I need `global.ignore.pos`? Is it because my method of killing them is teleporting them under the map? Because in this case, I wouldn't consider the position change relevant, as the entity is killed anyways and the entity that it is replaced with retains the former position of the old entity, and I'm already testing for the `global.ignore.kill tag`.
Of course, I can change the `unless en

[2021-02-17 21:05] EstEarth202 commented on #48
## First, why does it have to be uninstalled?

Advice: You just need to add files. `uninstall.mcfunction` In which there will be
[code]
And tell to the user on the planetminecraft web page **How to uninstall**.

## Second, why do you need `global.ignore.pos`?

After I carefully checked the functionality of your pack again, I found the pack incorrectly working slightly. Which the pack will work pro

[2021-02-17 23:03] x-2mas commented on #50
So sorry to do this, but I just realized there was some C.O.R.E code that didn't conform to standards. I missed it because I wasn't actively using it in my S.E.A.T pack.

Should be all updated now! [Download](https://www.planetminecraft.com/data-pack/s-e-a-t/)

Changes:
- Added global.ignore tags to files
    - tp_kill.mcfunction
    - load_edata.mcfunction
    - attach.mcfunction
- Removed left-o

[2021-02-17 23:52] CreeperMagnet opened #51 "TCC V0.4: The End and Emerald Update"
Project Page: https://thecreeperscode.com/download/

Changelog for this version: https://thecreeperscode.com/development/0-4-changelog/

Good luck.

[2021-02-18 00:51] HalbFettKaese commented on #48
Thanks for the advice with adding a `/kill @s`. I thought I tested that before and it made the GUI not close at all, but it seems the test wasn't isolated enough.
Also thank you for mentioning the bug with the data being removed even before it's saved, though that was already fixed last week.

As for the commands that are "not required":
The `no_resummon` function can be seen as a fallback impleme

[2021-02-18 06:52] EstEarth202 commented on #48
It's okay & Thanks for the reply on the subject. The ambiguity and detail that could be missing in the Official Conventions.

After I know your reasons, you can do this.
[code]

Since the condition here is `or`, it cannot be use this `@s [tag = global.ignore.pos, tag = global.ignore.kill]` because it is a condition `and`.

`execute store success score $ resummon tddh.lead.temp unless entity @s [pr

[2021-02-18 12:27] oOBoomberOo commented on #51
A bounty of $10 has been added to this review, you will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-02-18 13:05] HalbFettKaese commented on #48
Thanks for the suggestion, but I already had `if entity @s[tag=!global.ignore.kill, tag=!global.ignore.pos]` in the version I uploaded yesterday, which is equivalent to your suggestion in accordance to DeMorgan's law, except that it doesn't have the large overhead of calling a predicate and running up to two NBT tests.

[2021-02-18 17:11] ghost commented on #40
Excuse the wait, here we are.
- You don't need anymore "tag=!global.ignore.gui" in /tellraw selectors.
- Also if barriers are killed in the same tick, you shouldn't use a Custom Model Data with ID 141 if you do not own it.
- I can't see any uninstall function, and it is required for Stamp of Quality.
Anyway, there are not compatibility issues.

Let me know if you are satisfied with the certificati

[2021-02-18 17:14] x-2mas commented on #50
Alright, the last update I made, which added **global.ignore** tags, ended up breaking mob-riding features _(I made my code ignore its own entities)._ The [latest update](https://www.planetminecraft.com/data-pack/s-e-a-t/) fixes that.

Changed Files:
- attach.mcfunction

PS: I have a feeling this is going to keep happening. Sorry about that. I'll mention any updates/changes here.

[2021-02-18 17:20] ghost commented on #42
- You shouldn't include entities with global.ignore tag in any @e selector. Example: check.mcfunction, line 4, `if entity @e[type=minecraft:item, nbt={Item:{id:"minecraft:golden_carrot"}}`
- You are not going to work on the mobs to convert them, you are going to kill them, so you shouldn't include also mobs with global.ignore.kill tag or do not kill them using the `tp @s ~ ~-260 ~ `
- takeone.mcfu

[2021-02-18 17:23] ghost commented on #43
**Safe Leashes by Cray-On**
✅Certified Datapack
✅Stamp of Quality

You can now use [this banner](https://i.imgur.com/ltLPoQp.png) in the datapack web pages.

[2021-02-18 17:23] #43 closed, assigned to nobody

[2021-02-19 10:54] EstEarth202 commented on #46
This is a datapack from a Thai branch.
The author states that this is still an incomplete version and is ready to revise until it is complete with writing to complete.

- Certified Compatibility ❌
- Stamp of Quality ❌

## Datapack Advancement ✔️
## Datapack Uninstallation  ✔️+🔆

อันที่จริงไม่แนะนำให้ `datapack disable` มันส่งผลให้เกิดการ reload อัตโนมัติส่งผลให้แพ็คอื่นถูกรีการทำงานใหม่ไปด้วย
* ดู

[2021-02-20 15:33] boon4681 commented on #46
fixed! https://github.com/boon4681/Harvestable-hoe

[2021-02-20 21:07] Aeldrion opened #52 "Banners on beds"
Project Page: https://www.planetminecraft.com/data-pack/banners-on-beds

The data pack provides, with the use of a resource pack, a way for players to apply banner patterns on beds, using [block traversal raycasting](https://github.com/Aeldrion/Iris) and a lot of other annoying things. It complies with all official conventions and style guidelines that apply, and provides an uninstallation functio

[2021-02-20 21:26] EstEarth202 commented on #47
# Certified Compatibility ❌
# Stamp of Quality ❌

## Custom Model ID ☑️
## Global ignoring tag ❌

You can remove `[tag=!global.ignore]` from `all @a` because **This tag does not apply to player-only selectors**

## Namespace Convention ❌
`data\jh1236\functions\dragon_head\breathing_head\arrow\new_arrow.mcfunction` -> `tag current`

[code]
## Shulker Box Loot Table ❓
I noticed that you use it but ❓

[2021-02-22 17:08] EstEarth202 commented on #46
## Datapack Uninstallation ❓

มีแต่ `schedule clear` ไม่ลบ `scoreboard` ด้วยล่ะ

## Shulker Box Loot Table ❌

`minecraft\loot_tables\blocks\yellow_shulker_box.json` ตรง `"name": "minecraft:shulker_box"` ยังไม่แก้

## Something missing ❓

ไม่ `forceload add 29999977 29999977` เดี๋ยว `setblock` ไม่ติดนะ

## Tecnical advice 🔆

`boon4681\advancements\boon4681.auto.hoe.json` เอาคำว่า **boon4681.** ออกไ

[2021-02-22 17:54] EstEarth202 commented on #48
# Certified Compatibility ✅
# Stamp of Quality 💕
# And Good pack, LOL Datapack reviewer @EstEarth202. :thumbsup:

ps. What?? `advancement_convention.json` Why don't you name this file `villager_leads.json` 😂

[2021-02-22 17:54] #48 closed, assigned to EstEarth202

[2021-02-22 21:07] EstEarth202 commented on #50
# Certified Compatibility ❓
# Stamp of Quality ❓
# 💕━━━━━・Stamp・━━━━━💕
## Datapack Advancement ✔️
I think you put it alternately.
[code]
[code]
## Datapack Uninstallation  ✔️
## ~~Reloading Message~~ ❓ (Recheck after Tecnical advice fix)
# 🔆━━━━━・Not Force・━━━━━🔆
## Common Trait Convention ☑️
## Global Durability ☑️
# ⚠━━━━━・Important ・━━━━━⚠
## Custom Model ID ☑️
## ~~Global ignoring tag~~ ❓(Rech

[2021-02-22 23:21] x-2mas commented on #50
Thank you for your review!! I've corrected the **namespace issue** as well as the **advancement item mix-up** (lol).
**Updated [here](https://www.planetminecraft.com/data-pack/s-e-a-t/).**

As for the last point about optimizing commands, you are absolutely right! Using the same condition prefixes over and over will significantly affect performance. What's funny is that this is the **only** featur

[2021-02-23 12:30] EstEarth202 commented on #50
No problem, you can update your performance whenever you want. After I finished the review When you correct those points, you can checkbox to inform other users who have to see this detail.

[2021-02-23 15:47] ghost opened #53 "Review for More Books 0.5 (Working Bookshelves) Datapack"
Project Page: https://www.planetminecraft.com/data-pack/more-books/

2 Things:
-The needed resource pack contains also resources for other datapacks
-The 2 scores are used by other datapacks so the pack does not need an uninstall function

[2021-02-27 16:20] ghost commented on #49
❌Certified Datapack
❌Stamp of Quality

Why didn't you pass the review? Sure the datapack is fantastic, but the review only depends on conventions.

## Global Ignoring Tag Convention
- **`global.ignore` tag RULE DOES NOT APPLY anymore on player-only selectors**, like `@a` and `@p`. Also. `global.ignore.gui` tag does not apply for `/tellraw`, `/particle` and `/playsound`.
- **you MUST NOT kill entit

[2021-03-04 17:08] boon4681 commented on #46
**fix again!**
https://github.com/boon4681/Harvestable-hoe
**commit changed**
https://github.com/boon4681/Harvestable-hoe/commit/d3b8e9db9fc80000121e99c1c1d5e150c64e725f

[2021-03-05 06:16] Sipilus commented on #49
I've updated the pack based on the information provided, could you look at it once more?

[2021-03-05 16:58] EstEarth202 commented on #50
# Certified Compatibility ❌
# Stamp of Quality ❌
# 💕━━━━━・Stamp・━━━━━💕
## Datapack Advancement ✔️
## Datapack Uninstallation  ✔️
## Reloading Message ❌
# 🔆━━━━━・Not Force・━━━━━🔆
## Common Trait Convention ☑️
## Global Durability ☑️
# ⚠━━━━━・Important ・━━━━━⚠
## Custom Model ID ☑️
## Global ignoring tag ❌
-  `global.ignore.kill`✔️

-  `global.ignore.gui`✔️

-  `global.ignore.pos`✔️

- [ ]  `global.

[2021-03-05 17:17] EstEarth202 commented on #50
# Certified Compatibility ❌
# Stamp of Quality ❌
# 💕━━━━━・Stamp・━━━━━💕
## Datapack Advancement ✔️
## Datapack Uninstallation  ✔️

## Reloading Message ❌

❔ Which you can choose not to do if you want, you can tell me if you want. Because this is not force, but will affect the Stamp of Quality.

I can see that this pack has a tellraw message at installation, which shouldn't be there for this. You sh

[2021-03-05 17:31] EstEarth202 commented on #46
`forceload` เอาไปใส่ในไฟล์ `init` นะ เอาไว้ที่ tick แบบนั้นทำงานตลอดเวลาสิแหม
จะโพสต์ขึ้นเว็บไหม?

[2021-03-06 04:41] x-2mas commented on #50
Thank you for the review. Files updated [here](https://www.planetminecraft.com/data-pack/s-e-a-t/).

### Changes:
- **Changed `minecraft:hay_bale` to `minecraft:hay_block` in files:**
    `data\x_seat\functions\seat_surface.mcfunction`
    `data\x_seat\functions\seat.mcfunction`
- **Changed `data get entity @s Rotation[X] 1` to `data get entity @s Rotation[1] 1` in file:**
    `data\x_core\functio

[2021-03-07 13:15] boon4681 commented on #46
ลงคับ and fixed
https://github.com/boon4681/Harvestable-hoe/commit/215924617632b25328f8a5abaca28793a3f96a8d
https://github.com/boon4681/Harvestable-hoe/commit/28f004dcfe5399f1aad79e9c5c48f36e70f82b37

[2021-03-07 14:04] geegaz opened #54 "GGPI review"
Project Page: https://www.planetminecraft.com/data-pack/ggpi-props-interaction/

**A tool for mapmaking.**
Armor Stands created by the datapack use the global.ignore convention, while the datapack only targets its own armor stands (using the namespace `ggpi`)
Since the goal of the datapack is to place entities for maps, uninstalling the datapack will keep the already placed props but delete every

[2021-03-09 08:22] ghost commented on #49
❌Certified Datapack
❌"Stamp of Quality"

Compatibility Issues:
## Global Ignoring Tag
**`global.ignore`** tag RULE **DOES NOT APPLY** anymore on player-only selectors, like `@a` and `@p`. Also. **`global.ignore.gui `** tag does not apply for `/tellraw`, `/particle` and `/playsound.`

Examples:
in _animal_staff_raycast.mcfunction_
❌`particle dolphin ~ ~ ~ 0.1 0.1 0.1 0.1 5 force @a[tag=!global.igno

[2021-03-09 08:28] Sipilus commented on #49
All issues should be fixed now!

[2021-03-09 08:39] ghost commented on #49
Also if reading `@a[ ]` in the load function made me cry,
### Congratulations!
🐺 Shamanism by @Sipilus is now certified!
**✔️Certified Datapack
✔️Stamp of Quality**

🎉 You are now Certified Datapacker on the discord server.
You can now use [THIS](https://imgur.com/ltLPoQp) banner in the Shamanism datapack description/wiki/banner/posts/web pages.

Remember that someone may choose to review your dat

[2021-03-09 08:39] #49 closed, assigned to nobody

[2021-03-09 16:17] EstEarth202 commented on #51
# Certified Compatibility ❌❓
# Stamp of Quality ❌🔆
# 💕━━━━━・Stamp・━━━━━💕
## Datapack Advancement ✔️
## Datapack Uninstallation  ✔️
## Reloading Message 🔆
This is still just a part of style guideline it doesn't affect compatibility review.
- [ ] Clear
For this, since there is a `tellraw` message from one advancement, even if it is not from `load.json`, in cases like this with a `tellraw`, it is cou

[2021-03-09 16:26] EstEarth202 commented on #51
If there are any changes other than those mentioned in the review, such as adding files or commands, please add them in the comments.

[2021-03-10 05:37] CreeperMagnet commented on #51
Alright, let's get into the meat and potatoes of this.

You already have these in The Creeper's Compendium book.
And I think you can use the book to do this instead of tellraw for
Help, Not correct version, Or the Resource pack is not installed.

I literally cannot use the book for this. It's also a one-time message that appears to make sure that players have the correct version installed. I'm not

[2021-03-10 05:37] CreeperMagnet commented on #51
Great. sticky fingers. Reopening.

[2021-03-10 06:06] CreeperMagnet commented on #51
Alright, let's get into the meat and potatoes of this.

You already have these in The Creeper's Compendium book.
And I think you can use the book to do this instead of tellraw for
Help, Not correct version, Or the Resource pack is not installed.

I literally cannot use the book for this. It's also a one-time message that appears to make sure that players have the correct version installed. I'm not

[2021-03-16 00:21] SmoochyPit opened #55 "Item Infos and Food Infos"
Project Page: https://github.com/SmoochyPit/Item-Infos/tree/review and https://github.com/SmoochyPit/Food-Infos/tree/review

These two data packs go hand-in-hand, but I decided to separate them so they can be installed independently if the user decides to do so. Let me know if I need to separate this into two issues and I will do so.

Both data packs have a compiled, usable data pack in /out/[name

[2021-03-22 20:12] EstEarth202 commented on #51
# Certified Compatibility ✔️
# Stamp of Quality ❌
Unfortunately, I have to demote you. You will only be able to use the Certified Compatibility banner.

## And I would like to put a final comment, but unfortunately I have to cancel it.

## Note

From consideration Since you decided to do so and this is just a part of style guideline. I decided to close this review with only Certified Compatibility

[2021-03-23 09:52] EstEarth202 commented on #51
# Certified Compatibility ✔️
# Style Guideline Followed 💕
# Final comment: It's a cool pack that's enjoyable to play, This is one of the best sample standalone pack to guideline about file directories structure, optimization & namespace. LMAO Datapack reviewer @EstEarth202. :thumbsup:

https://www.planetminecraft.com/data-pack/the-creeper-s-code/
https://thecreeperscode.com/download/

[2021-03-23 09:52] #51 closed, assigned to EstEarth202

[2021-04-02 20:44] ghost commented on #52
**Banner on beds** by @Aeldrion
✔️Certified Datapack
✔️Followed Style Guidelines

You can now use [this](https://imgur.com/ltLPoQp) banner on datapack description/page/download page etc. etc.

Congratulations for the certification! 🎉🎉

[2021-04-02 20:44] #52 closed, assigned to nobody

[2021-04-05 22:47] seanoyama opened #56 "YokaiS's Headphones"
Project Page: https://www.planetminecraft.com/data-pack/yokais-s-headphones/

[2021-04-12 06:35] JollyChristopher opened #57 "Ore Exchange"
Project Page: https://www.planetminecraft.com/data-pack/ore-exchange/

[2021-04-17 21:30] Kore-Development opened #58 "Stonecutter Damage"
Project Page: https://www.curseforge.com/minecraft/customization/stonecutter-damage-datapack
(probably have to wait for curseforge moderators)

[2021-04-18 01:02] RavioliFormuoli opened #59 "Rummage Sack"
Project Page: https://www.planetminecraft.com/data-pack/rummage-sack-balanced-portable-storage/

[2021-04-18 08:36] Kore-Development commented on #58
Looks like it was approved by a CurseForge moderator

[2021-04-18 23:40] TSFlareon opened #60 "Forever Enchanting"
Project Page: https://www.planetminecraft.com/data-pack/forever-enchanting/

[2021-04-18 23:44] TSFlareon opened #61 "TSFMobs"
Project Page: https://www.planetminecraft.com/data-pack/tsf-mobs/

[2021-04-20 19:44] RavioliFormuoli commented on #59
Pack has been updated and will receive another update soon - will provide a changelog of affected (and new) files when resubmitting. Sorry for the trouble!

[2021-04-20 19:44] #59 closed, assigned to nobody

[2021-04-24 20:56] TheSaltyPug opened #62 "Netherite Fire Resist"
Project Page: https://github.com/TheSaltyPug/Netherite-Fire-Resist

[2021-05-01 19:59] oOBoomberOo commented on #62
This datapack has been reviewed and determined that it has followed both the official convention and the style guideline.

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.

Since you already have both Certified Datapacker and Style Guideline

[2021-05-01 19:59] #62 closed, assigned to oOBoomberOo

[2021-05-01 20:33] oOBoomberOo commented on #61
This datapack cannot pass the review because the [required library](https://www.planetminecraft.com/data-pack/flame-4892151/) that it used did not follow the official convention.

As the error is very repetitive, I will list the common one instead of everything but keep in mind that you need to do the same thing for other files.

[code]
[code]

[code]

As the root of the issue comes from the [Flam

[2021-05-01 20:40] oOBoomberOo commented on #58
This datapack has been reviewed and determined that it has followed both the official convention and the style guideline.

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.

Since I don't know the associated discord account to your account, I

[2021-05-01 20:40] #58 closed, assigned to oOBoomberOo

[2021-05-01 20:45] oOBoomberOo commented on #57
This datapack has been reviewed and determined that it has followed both the official convention and the style guideline.

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.

Since I don't your associated discord account to your account, I cann

[2021-05-01 20:45] #57 closed, assigned to oOBoomberOo

[2021-05-02 19:32] ghost commented on #54
https://www.planetminecraft.com/data-pack/ggpi-props-interaction/
✔️Certified Compatibility
✔️Stamp of Quality
However, prop placer and eraser should have traits:{} tag. I'd just place traits:{"item":1b}

https://www.planetminecraft.com/data-pack/default-props-ggpi-prop-pack/
✔️Certified Compatibility
✔️Stamp of Quality
I'd place "item":1b in traits, also here.

You can now use [this banner](https

[2021-05-02 19:32] #54 closed, assigned to nobody

[2021-05-02 19:48] Kore-Development commented on #58
@oOBoomberOo Pqtato#3737

[2021-05-02 20:01] oOBoomberOo commented on #58
Done, you now have the「Certified Datapacker」and「Style Guideline Follower」roles.

[2021-05-02 20:04] ghost commented on #55
Both:
✔️Certified Compatibility
✔️Followed Style Guideline

I have to say, very original idea.

You can now use [this banner](https://imgur.com/ltLPoQp) for both packs.

[2021-05-02 20:04] #55 closed, assigned to nobody

[2021-05-03 04:35] x-2mas commented on #50
^ Bump ^

[2021-05-03 13:29] EstEarth202 commented on #46
# Certified Compatibility ✔️
# Style Guideline Followed 💕
# Final comment: สะดวกดีมีประโยชน์สำหรับคุณภาพชีวิต LMAO Datapack reviewer @EstEarth202. :thumbsup:

น้องสามารถใช้ป้ายที่มีอยู่ในหน้า [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) บนหน้า github ได้เลย

[2021-05-03 13:29] #46 closed, assigned to EstEarth202

[2021-05-03 14:25] EstEarth202 commented on #50
# Certified Compatibility ✔️
# Style Guideline Followed 💕
# Final comment:  Cool pack, but I hope this pack will be optimized in the future.

If so, let me suggest, the easiest solution would be to put both.
But this command will use the outermost file name. Therefore, it should be like this
[code]

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.

[2021-05-03 14:25] #50 closed, assigned to EstEarth202

[2021-05-03 15:33] x-2mas commented on #50
Thank you 😍!
I'll make the change u suggested and update the pack soon!

[2021-05-03 15:45] EstEarth202 commented on #53
# Certified Compatibility ✔️
# Style Guideline Followed 💕
# Final comment:  Cool, useful pack, it should have a function like this in Minecraft vanilla. LMAO Datapack reviewer @EstEarth202. :thumbsup:

[2021-05-03 15:45] #53 closed, assigned to EstEarth202

[2021-05-05 20:59] Gnottero opened #63 "Review for Isotope, a custom durability library"
Project Page: https://github.com/Gnottero/Isotope

[2021-05-05 21:14] Gnottero opened #64 "Review for Proton, a custom crafting library"
Project Page: https://github.com/Gnottero/Proton

[2021-05-20 21:15] ICY105 opened #65 "Datapack Utils, 1.17 Prereleases"
Project Page: https://github.com/ICY105/Datapack-Utilities

This is specifically for 2.3.0, Prerelease 1+ (prereleases are only posted to github, other sites list the recommended version). Moving into 1.17 I am making the attempt to move towards the official conventions.

[2021-05-22 21:08] PuckiSilver opened #66 "Multitool 3.0 [for Minecraft 1.17]"
Project Page: https://www.planetminecraft.com/data-pack/multitool-every-tool-in-one-item/

In my data pack is a "give" namespace to let every player give themselfs the items easily, the folder contaning the functions is using my namespace, so it should not be a compatibility issue. (writing this as I'm not sure if it follows the guidelines)
[Multitool 3.1 MC1.17.zip](https://github.com/mc-datapack

[2021-06-05 18:54] #66 closed, assigned to nobody

[2021-06-07 04:10] iijj22gg opened #67 "Resource Pack Credits datapack"
Project Page: [https://github.com/IIJJ22GG/resource-pack-credits-datapack](https://github.com/IIJJ22GG/resource-pack-credits-datapack)

[2021-06-08 12:28] Armoured-Monkey opened #68 "Leather Working"
Project Page: https://www.planetminecraft.com/data-pack/leather-working/

The only differences between the 1.16 and 1.17 versions of the pack are the names of cauldrons (if I am remembering correctly 😛 )

[2021-06-08 19:40] BigPapi13 opened #69 "Easy Item Descriptions"
Project Page: https://www.planetminecraft.com/data-pack/easy-item-descriptions-1-17/

[2021-06-10 21:14] TheSaltyPug opened #70 "Disenchanting"
Project Page: [https://github.com/TheSaltyPug/Disenchanting](https://github.com/TheSaltyPug/Disenchanting)

[2021-06-10 22:47] TheSaltyPug opened #71 "Twerking"
Project Page: [https://github.com/TheSaltyPug/Twerking](https://github.com/TheSaltyPug/Twerking)

[2021-06-13 04:54] chromakey81 opened #72 "Better Phantoms"
Project Page: https://datapackcenter.com/projects/better-phantoms.294/

Repository: https://github.com/ChromaKey81/Better-Phantoms

[2021-07-08 15:32] parardh opened #73 "Ballista Combat v1.0"
Requesting data pack review:

Data Pack:
[Ballista Combat v1.0.zip](https://github.com/mc-datapacks/review-tracker/files/6785681/Ballista.Combat.v1.0.zip)

Resource Pack:
[Ballista Combat v1.0 Resource Pack.zip](https://github.com/mc-datapacks/review-tracker/files/6785684/Ballista.Combat.v1.0.Resource.Pack.zip)

(CustomModelData prefix 657)

[2021-07-09 19:01] EstEarth202 commented on #71
So in order not to waste time, I have fixed it for you, in fork
To reduce explanations that may be lengthy and communication may be inaccurate.
So I'm doing this to make it easier. If you don't understand, feel free to ask me.

- If asked why remove `!global.ignore`

Because `this tag does not apply to player-only selectors (@a, @e[type=player], @p, etc.)`

- If you ask me why I use `schedule func

[2021-07-09 21:48] EstEarth202 commented on #70
This pack has been `Certified + Styte Guideline`.
But
Which is like your other pack, I fixed some points.

But if you ask why I use predicate
because I have tried debug profiling several times.
I found this method reduces the percentage cost of `execute as @` pending at any item drop.
![opera_sqNdGhDtbf](https://user-images.githubusercontent.com/66269767/125139161-3e080d80-e13a-11eb-8920-5a0e51750

[2021-07-09 22:31] EstEarth202 commented on #69
There are some things I need to ask you first:
You own the Datapack API used in this datapack.
Do you also own this data pack or not?

[2021-07-09 22:47] BigPapi13 commented on #69
Yes, I own both the API and the pack. This was more or less my first 'test run' of the API. Sorry if that was unclear from the start

[2021-07-09 23:20] EstEarth202 commented on #68
# Certified Compatibility ❌
# Stamp of Quality 💕
# ⚠━━━━━・Important ・━━━━━⚠
## Global ignoring tag ❌
- [x] `global.ignore`

data\leatherworks\functions\check_for_items_in_water_cauldrons.mcfunction
- `execute as @e[type=minecraft:item]` `tag=!global.ignore` missing

## Namespace Convention ✔️
🔆 I recommend this a bit.
**I'm not forcing you to do this. You can refuse or choose to ignore this. This

[2021-07-09 23:46] EstEarth202 commented on #69
May I have your Discord `username#0000` too. Because I don't know who you are in the Minecraft Datapacks discord.

Here I recommend that API must also be certified.
In order not to waste time, I recommend that I can fix it for you Just create a repo of this datapack, and I'll fork it out and fix it for you. After it's done, I'll send you a pull request for you to check. If you don't have any quest

[2021-07-09 23:54] BigPapi13 commented on #69
I'm BigPapi#4914 in the discord.

What you recommended is perfectly fine by me, but if it would make it easier for you if I made a separate issue with the API and a repo with the pack, then I'm able to do that too.

[2021-07-10 08:26] EstEarth202 commented on #67
# Certified Compatibility ✔️
# Style Guideline 💕
You can now use the certified banner for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.

Final comment: Oh yes, in the Style Guideline, we only have datapack advancement credit, so I can understand why.

[2021-07-10 08:26] #67 closed, assigned to EstEarth202

[2021-07-10 11:22] EstEarth202 commented on #72
So in order not to waste time, I have fixed it for you, in fork
To reduce explanations that may be lengthy and communication may be inaccurate.
So I'm doing this to make it easier. If you don't understand, feel free to ask me.

I will explain to you at each point why to do so.

- If you ask me about Namespace why?

Since the datapack advancement directories are not valid, I fixed them as I did.
He

[2021-07-11 08:57] Armoured-Monkey commented on #68
Thank you,

I have added the ignore tag to the selector in data\leatherworks\functions\check_for_items_in_water_cauldrons.mcfunction (1.17) and \check_for_items_in_filled_cauldrons (1.16) and fixed that bug in the 1.17 version (thanks for pointing it out 😄 ). This is in Leather Works Version 1.2.6 for Minecraft 1.16 and 1.17.

Thanks for your recommendation, it looks useful and I might consider co

[2021-07-11 13:53] EstEarth202 commented on #68
# Certified Compatibility ✔️
# Style Guideline 💕
You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.
Since you already have both Certified Datapacker and Style Guideline Follower roles, you will not be given any more roles this time.

Final comm

[2021-07-11 13:53] #68 closed, assigned to EstEarth202

[2021-07-11 17:52] EstEarth202 commented on #65
# Certified Compatibility ❌

## Namespace Convention ❌
**Pausing the review because it needs a pre-certified LanternLoad.**

[2021-07-12 05:31] seanoyama commented on #56
Hey I should've said something earlier but are there any updates about reviewing my datapack?  It's been 4 months and I don't think my datapack is that complicated :p

[2021-07-12 05:31] #56 closed, assigned to nobody

[2021-07-20 11:37] heuristyx opened #74 "Quickswap v1.1"
Project Page: https://www.planetminecraft.com/data-pack/quickswap/

[2021-07-23 14:57] TheSaltyPug commented on #71
Thanks for the updates, merged upstream. Thanks Estt!

[2021-07-23 14:59] TheSaltyPug commented on #71
(not-so-quietly reopening this because I realize you need to close it with a tag)

[2021-07-23 15:03] TheSaltyPug commented on #70
Thank you again, Est. Merged changes upstream. You may close with the correct tags.

[2021-07-24 11:51] EstEarth202 commented on #70
# Certified Compatibility ✔️
# Style Guideline 💕
*Don't forget to tell the user how to uninstall.

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.
Since you already have both Certified Datapacker and Style Guideline Follower roles, you will

[2021-07-24 11:51] #70 closed, assigned to EstEarth202

[2021-07-24 11:51] EstEarth202 commented on #71
# Certified Compatibility ✔️
# Style Guideline 💕
*Don't forget to tell the user how to uninstall.

You can now use the [certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.
Since you already have both Certified Datapacker and Style Guideline Follower roles, you will

[2021-07-24 11:51] #71 closed, assigned to EstEarth202

[2021-07-28 17:51] fludim opened #75 "Fluid Dimensions v0.1"
Project Page: https://github.com/fludim/fluid_dimensions

Release v0.1-alpha at https://github.com/fludim/fluid_dimensions/releases/tag/v0.1-alpha

GH Pages Website: https://fludim.github.io/docs/

Planet Minecraft post: https://www.planetminecraft.com/data-pack/fluid-dimensions/

Expansive worldgen, dimension and function pack. I will work more on one of the dimensions in particular in future, bu

[2021-07-29 16:23] Initia-Nova opened #76 "Relative Position Utility Datapack v1.2.0"
Project Page: https://www.planetminecraft.com/data-pack/relative-position-utility-datapack/

A utility datapack used by other datapacks.
Example of a datapack that uses this: https://www.planetminecraft.com/data-pack/forceload-utility-datapack/

[2021-08-27 22:28] Bloo-dev opened #77 "Gamemode 4 Apple Trees"
**Project Page:** https://gm4.co/modules/apple-trees
I'll be attaching some useful links below.

**Review Type:** Certified Compatibility ✅ Only

[Wiki](https://wiki.gm4.co/wiki/Fruiting_Trees/Apple_Trees), [Code](https://github.com/Gamemode4Dev/GM4_Datapacks/tree/master/gm4_apple_trees)

[2021-08-31 05:38] HoboMaggot opened #78 "Shear more Mobs"
Project Page: https://www.planetminecraft.com/data-pack/shear-more-mobs/

[2021-09-07 15:09] #69 closed, assigned to EstEarth202

[2021-09-10 07:53] maxheyn opened #79 "Warp Shrines"
Project Page: <https://github.com/maxheyn/warp_shrines>

[2021-09-19 17:17] hugobelgeois opened #80 "McR - Discs Overhaul"
Project Page: https://www.planetminecraft.com/data-pack/mcr-discs-overhaul/

[2021-09-21 23:26] hugobelgeois opened #81 "McR - Enchants Overhaul"
Project Page: https://www.planetminecraft.com/data-pack/mcr-enchants-overhaul/

[2021-09-23 03:27] maxheyn opened #82 "Miniblock Traders"
Project Page: <https://github.com/maxheyn/miniblock_traders>

[2021-10-01 09:49] Joshcraft2002 opened #83 "Josh's More Foods"
Project Page: https://www.planetminecraft.com/data-pack/josh-s-more-foods-20-new-recipes/
(This is the only posted site)

Discord: Josh Mats#2167

Review type: Certified Compatibility + Style Guideline

[2021-10-07 15:06] Joshcraft2002 opened #84 "Scrolls of Mending"
Project Page: https://www.planetminecraft.com/data-pack/scrolls-of-mending-repair-consumables
(This is the only posted site)

Discord: Josh Mats#2167

Review type: Certified Compatibility + Style Guideline

[2021-10-17 19:39] Silabear opened #85 "Realistic Item Drops"
Project Link: https://www.planetminecraft.com/data-pack/better-item-dropping/

GitHub Link: https://github.com/Silabear/Realistic-Item-Drops

Discord Username: Silabear#0530

Certified Compatibility ✅ + Style Guideline Followed 📚

[2021-11-07 16:00] vic797 opened #86 "binary's Commands Core"
Project Page: https://www.planetminecraft.com/data-pack/binary-s-commands-core/

[2021-11-11 07:04] Ruth3rford opened #87 "Liberated"
Project Page: https://github.com/Ruth3rford/liberated

Discord Username: Rutherford#7700

[2021-12-20 13:02] EstEarth202 commented on #73
`data\bc\functions\ballista\summon.mcfunction`
  ├ summon command "global.ignore" is missing.
  └ All kill command `!global.ignore` & `!global.ignore.kill` is missing.

Certified compatibility ❌
Styte Guideline Follower ✅

[2021-12-20 15:21] EstEarth202 commented on #74
Certified compatibility ✅
Styte Guideline Follower ✅

Any doubts, come and see here. [Conventions](https://mc-datapacks.github.io/en/certified_datapacks/index.html)

[2021-12-20 15:21] #74 closed, assigned to EstEarth202

[2021-12-20 15:51] oOBoomberOo commented on #75
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:51] oOBoomberOo commented on #76
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:52] oOBoomberOo commented on #77
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #78
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #79
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #80
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #81
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #82
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:53] oOBoomberOo commented on #84
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:54] oOBoomberOo commented on #85
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:54] oOBoomberOo commented on #86
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:54] oOBoomberOo commented on #87
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-20 15:54] oOBoomberOo commented on #83
A bounty of $10 has been added to this review. You will be rewarded if you choose to review this datapack.

*Keep in mind that I will be expecting a high-quality review with this bounty.*

[2021-12-23 05:25] EstEarth202 commented on #75
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:26] EstEarth202 commented on #76
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:26] EstEarth202 commented on #77
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #78
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #79
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #80
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #81
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #82
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:27] EstEarth202 commented on #83
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:28] EstEarth202 commented on #84
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:28] EstEarth202 commented on #85
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:28] EstEarth202 commented on #86
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 05:28] EstEarth202 commented on #87
- **Request review:** If you have, please include every website where your datapack is published. It doesn't have to be just GitHub or Planetminecraft. And if you're on the Minecraft Datapacks discord server, add your `Username#0000` as well.
   - **Review type:** please also specify the type of review you require.
     - Certified Compatibility ✅ Only
     - Certified Compatibility ✅ + Style Guid

[2021-12-23 13:35] Silabear commented on #85
Yeah, my Datapack is only on PlanetMinecraft. I believe I haven't followed the style guidelines as my pack has a message sent on /reload, but other than that I believe that it is alright. My username is Silabear#0530, for some reason I was having trouble sending it properly :D

[2021-12-23 13:44] hugobelgeois commented on #80
I only post my datapacks on PlanetMinecraft
I'm on your discord server : Ryuggo#7030

Certified Compatibility ✅ + Style Guideline Followed 📚 (Optional)
--> I'll take both, even tho I don't remember what the style guideline is as it has been a long time

[2021-12-23 13:44] hugobelgeois commented on #81
I only post my datapacks on PlanetMinecraft
I'm on your discord server : Ryuggo#7030

Certified Compatibility ✅ + Style Guideline Followed 📚 (Optional)
--> I'll take both, even tho I don't remember what the style guideline is as it has been a long time

[2021-12-23 13:46] hugobelgeois opened #88 "McR - Tools & Handles Overhaul"
Project Page: <(https://www.planetminecraft.com/data-pack/mcr-tools-amp-handles-overhaul/)>

I only post my datapacks on PlanetMinecraft
I'm on your discord server : Ryuggo#7030

Certified Compatibility ✅ + Style Guideline Followed 📚 (Optional)

[2021-12-23 19:08] EstEarth202 commented on #85
Would you like some advice on the style guidelines?  You can fix it before I review.

[2021-12-23 19:28] Joshcraft2002 commented on #84
Request updated accordingly, my apologies

[2021-12-23 19:28] Joshcraft2002 commented on #83
Request altered accordingly, my apologies.

[2021-12-23 21:27] maxheyn commented on #79
**Published Websites**
- https://www.planetminecraft.com/data-pack/warp-shrines-teleport-between-locations/
- https://github.com/maxheyn/warp_shrines

**Discord User**
- Maxypoo#4327

**Review Type**
- Just Certified Compatibility ✅

[2021-12-23 21:27] maxheyn commented on #82
**Published Websites**
- https://www.planetminecraft.com/data-pack/miniblock-traders/
- https://github.com/maxheyn/miniblock_traders

**Discord User**
- Maxypoo#4327

**Review Type**
- Just Certified Compatibility ✅

[2021-12-24 00:21] vic797 commented on #86
Github: https://github.com/vic797/commands-series/tree/main/core
Discord: binary1024#7142
Review Type: Certified Compatibility ✅ Only

Note: the Github repository is a series of data packs. I want to request a review for each in due time.

[2021-12-24 11:09] EstEarth202 commented on #79
# Certified Compatibility ✅

You can now use [the first certified banner](https://mc-datapacks.github.io/en/certified_datapacks/index.html) for this datapack. The link to your datapack will also be posted on the #certified-datapacks channel.

# ⚠━━━━━・Important ・━━━━━⚠

## Global ignoring tag ✅

## Namespace Convention ✅
If you have more than one datapack project, I need to recommend this, I hope

[2021-12-24 11:09] #79 closed, assigned to EstEarth202

[2021-12-24 18:59] Silabear commented on #85
Sure, I'll try and remake it. At the time, I didn't really pay attention to it. There is an advancement, but I left the reload message. Hopefully I'll do this quickly :D

[2021-12-25 09:30] EstEarth202 commented on #80
I see a few issues. As a result, I'll delegate each task to you one at a time.

# ⚠━━━━━・Important ・━━━━━⚠

## Custom Model ID ✅

## Global ignoring tag ❌

- [ ] `global.ignore.gui`
 - `data\mcr_discs_overhaul\functions\more\musics` title command of every mcfunctions. ⇒ `tag=!global.ignore.gui` is missing.
- [ ] `global.ignore`
 - `data\mcr_discs_overhaul\functions\base\workstation\2summon.mcfunct

[2021-12-25 11:04] EstEarth202 commented on #82
# Certified Compatibility ⚠

# ⚠━━━━━・Important ・━━━━━⚠

## Global ignoring tag ⚠

- [ ] **Datapack Uninstallation ⚠**
- Your villagers are the content of your datapack and have the global ignoring. It can affect other datapacks if you don't clear it when uninstallation.
  - Because there are some datapacks that will first check if a global ignoring entity exists in that area or not before running

[2021-12-28 15:47] Scommander opened #89 "Command Block Preview"
PlanetMinecraft Page: https://www.planetminecraft.com/data-pack/command-block-preview/
GitHub Page: https://github.com/Scommander/CommandBlockPreview/releases

Discord: Scommander#5807 (I'm in the discord server)

Certified Compatibility ✅ + Style Guideline Followed 📚

[2021-12-28 22:33] maxheyn commented on #82
Thank you, I will get to this soon. Just wanted to post a comment here acknowledging that I see this.

[2022-01-03 17:22] Scommander opened #90 "Explosion Rebuilder Datapack"
PlanetMinecraft Page: https://www.planetminecraft.com/data-pack/repairing-creeper-holes/
GitHub Page: https://github.com/Scommander/ExplosionRebuilderDatapack/releases

Discord: Scommander#5807 (I'm on the discord server)
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-01-08 14:30] Stoupy51 opened #91 "SimplEnergy"
PlanetMinecraft Page : https://www.planetminecraft.com/data-pack/simplenergy/
GitHub Page: https://github.com/Stoupy51/SimplEnergy
**Note : No release is available with conventions, you need to download source code from GitHub**

Discord: Stoupy51#2679 (Member of the discord server)

I am looking for Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-01-09 01:02] Stoupy51 opened #92 "Stardust Fragment"
PlanetMinecraft Page : https://www.planetminecraft.com/data-pack/stardust-fragment/
GitHub Page: https://github.com/Stoupy51/StardustFragment/
**Note : No release is available with conventions, you need to download source code from GitHub**

Discord: Stoupy51#2679 (Member of the discord server)

I am looking for Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-01-16 16:50] fludim commented on #75
Not sure if comment edits can trigger notifications, so just in case - I have added the requested details in the original comment.

[2022-02-18 09:46] Hexuar opened #93 "Star Wars Pack"
PlanetMinecraft Page: https://www.planetminecraft.com/data-pack/star-wars-pack-4707128/
GitHub Page: https://github.com/Hexuar/StarWarsDatapack

Discord: Hexuar#3925
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-02-18 18:08] edayot opened #94 "Simple Drawer"
Github Page: https://github.com/edayot/SimpleDrawer
Planet Minecraft Page : https://www.planetminecraft.com/data-pack/simple-drawer/

Discord : @AirDox_#3233
I am looking for Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-02-19 11:09] Hexuar opened #95 "PCraft"
PlanetMinecraft Page: https://www.planetminecraft.com/data-pack/pcraft-4868839/

Discord: Hexuar#3925
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-03-25 15:58] Hexuar opened #96 "Botalchemy"
PlanetMinecraft Page: https://www.planetminecraft.com/data-pack/botalchemy/
GitHub Page: https://github.com/Hexuar/Botalchemy

Discord: Hexuar#3925
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-06-10 21:46] MacchuPicchu3 opened #97 "Attrition"
PMC: https://www.planetminecraft.com/data-pack/attrition/
Discord: MacchuPicchu#8655
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-06-10 21:46] MacchuPicchu3 opened #98 "Contrition"
PMC: https://www.planetminecraft.com/data-pack/contrition/
Discord: MacchuPicchu#8655
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-06-10 21:46] MacchuPicchu3 opened #99 "Nutrition"
PMC: https://www.planetminecraft.com/data-pack/nutrition/
Discord: MacchuPicchu#8655
Certified Compatibility ✅ + Style Guideline Followed 📚

[2022-06-26 05:27] oligomc opened #100 "Minecraft Text Input"
Github: https://github.com/oligomc/mcti
Discord: oligo#4678
Certified Compatibility ✅ + Style Guideline Followed 📚

V2.0.0 should have the proper compatibility features.